<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" style="color: white; background-color: #8c5beb" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading"  id="mincor">Sistema</div>
                <a class="nav-link active" routerLink="/home">
                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    Home
                </a>
                <div class="sb-sidenav-menu-heading" id="mincor" >Cadastros</div>
                <a class="nav-link collapsed active" routerLink="/clientes" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Clientes
                </a>

                <a class="nav-link collapsed active" routerLink="/servicos-prestados"  data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>
                    Serviços Prestados
                </a>
            </div>
        </div>

    </nav>
</div>