<h1 class="mt-4">Home</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-active active">Bem vindo</li>
</ol>

<div class="container mb-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="color: white; background-color: #7413e2">
                      Sobre o Projeto
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Descrição</h5>
                      <p class="card-text">O intuito da ferramenta é que o usuario cadastre seus Clientes, e assim possa cadastrar Serviços para esses Clientes.</p>
                      <h5 class="card-title">Como usar?</h5>
                      <p class="card-text">Para cadastrar um Cliente, clique no botão abaixo(ou no menu lateral). Assim que for redirecionado clique no botão "Novo" e cadastre seu Cliente.</p>
                      <button type="button" class="btn btn-primary mb-2" routerLink="/clientes">Cadastrar Cliente</button>
                      <p class="card-text">Assim que tiver um Cliente cadastro, pode atribuir um serviço a ele</p>
                    </div>
                  </div>
            </div>
        </div>
</div>